<div class="footer-container">
    <!-- <img class="footer-banner" src="/assets/senali-footer-banner.jpg" /> -->
    <div class="footer-content">
        <div class="left">
            <img src="/assets/senali-logo.svg" />
            <div class="social-media-icons">
                <a href=""><img src="/assets/icons/instagram.svg" /></a>
                <a href=""><img src="/assets/icons/Twitter.svg" /></a>
                <a href=""><img src="/assets/icons/Facebook.svg" /></a>
                <a href=""><img src="/assets/icons/linkedin.svg" /></a>
            </div>
        </div>
        <div class="middle">
            <ul>
                <li class="footer-head">Contact us</li>
                <li><img class="middle-logo" src="/assets/icons/Location.svg">Tada, Andhra Pradesh.</li>
                <li><img class="middle-logo" src="/assets/icons/Mail.svg">sales@senalichairs.com</li>
                <li><img class="middle-logo" src="/assets/icons/Contact.svg">+91-98401 79984</li>
                <li><img class="middle-logo" style="visibility: hidden;" src="/assets/icons/Contact.svg">+91-72007 29608</li>
            </ul>
        </div>
        <div class="right">
            <ul>
                <li class="footer-head">Site links</li>
                <li><a routerLink="/about-us">About us</a></li>
                <li><a routerLink="/contact-us">Get in touch</a></li>
                <li><a>Catalogue</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="copyright"></div>