<div class="header-container">
    <div class="header-nav">
        <div class="nav-item"><a routerLink="/">Home</a></div>
        <div class="nav-item"><a routerLink="/about-us">About us</a></div>
        <!-- <div class="nav-item"><a routerLink="#">Products</a></div> -->
        <div class="nav-item logo">
            <a routerLink="/">
                <!-- SENALI -->
                <img class="senali-logo" src="/assets/senali-logo.svg" />
            </a>
        </div>
        <div class="nav-item"><a routerLink="#">Testimonial</a></div>
        <!-- <div class="nav-item"><a routerLink="">Catalogue</a></div> -->
        <div class="nav-item"><a routerLink="/contact-us">Contact us</a></div>
    </div>
</div>
<div class="header-chin">
    <div class="nav-item"><p>Home</p></div>
        <div class="nav-item"><p>About us</p></div>
        <div class="nav-item"><p>Products</p></div>
        <div class="nav-item chin">
            <p>
                SENALI
                <!-- <img class="senali-logo" src="/assets/senali-logo.svg" /> -->
            </p>
            <div class="logo-chin"></div>
        </div>
        <div class="nav-item"><p>Testimonial</p></div>
        <div class="nav-item"><p>Catalogue</p></div>
        <div class="nav-item"><p>Contact us</p></div>
</div>