<div class="senali-home-page-container">
    <div class="main-banner-container">
        <img src="/assets/senali-main-banner.jpg" />
        <div class="quote-container">
            <h2>WHERE EROGONOMICS MEET STYLE</h2>
            <p>We're what we repeatedly do. Excellence in making furnitures is not an act for us but a habit.</p>
            <a class="mb-button" routerLink="/contact-us">GET A QUOTE</a>
        </div>
    </div>
    <div class="chairs-category-container">
        <app-category-title [title]="'Office and Executive chairs'" [tagline]="'Bring in comfort to your workplace'"></app-category-title>
        <div class="d-flex justify-content-center">
            <div class="chairs-tiles">
                <img src="/assets/office-chairs/office-executive-chairs1.jpg" />
                <img src="/assets/office-chairs/office-executive-chairs2.jpg" />
                <img src="/assets/office-chairs/office-executive-chairs3.jpg" />
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="chair-sub-tiles">
                <img src="/assets/office-chairs/chair1.png" />
                <img src="/assets/office-chairs/chair2.png" />
                <img src="/assets/office-chairs/chair3.png" />
                <img src="/assets/office-chairs/chair4.png" />
                <img src="/assets/office-chairs/chair5.png" />
            </div>
        </div>
    </div>
    <div class="outdoor-furniture-container">
        <app-category-title [title]="'Modular and Outdoor furnitures'" [tagline]="'Setting New Trends of Lifestyle For All Weathers and Seasons'"></app-category-title>
        <app-category-banner class="m-banner" [imgSrc]="'/assets/modular-furnitures/mod-furniture-main-banner.jpg'"></app-category-banner>
        <app-sub-category-tile [tiles]="outdoorFurnitureTiles"></app-sub-category-tile>
    </div>
    <div class="seating-container">
        <app-category-title [title]="'Seating solutions'" [tagline]="'Quality craftsmanship with endless possibilities'"></app-category-title>
        <app-category-banner class="m-banner" [imgSrc]="'/assets/seating/seating-banner.jpg'"></app-category-banner>
        <app-sub-category-tile [tiles]="seatingTiles"></app-sub-category-tile>
    </div>
    <div class="storage-container">
        <app-category-title [title]="'Compactor and Storage'" [tagline]="'A space-saving and efficient way to save inventory'"></app-category-title>
        <app-category-banner class="m-banner" [imgSrc]="'/assets/storage/storage-main-banner.jpg'"></app-category-banner>
        <app-sub-category-tile [tiles]="storageTiles"></app-sub-category-tile>
    </div>
</div>